{% extends "layout.html" %}
{% block body %}
<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay-bg overlay"></div>
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-6 col-md-12">
							<h1 class="text-uppercase">

								Data Visualization<br>
								Dashboard<br>	
							</h1>
							<p class="pb-20 text-white">
								Produced by: QinRens, Xi'an Jiao Tong University	
							</p>
							<!--<form action="/forward/" method="post">
							    <button name="forwardBtn" type="submit" class="primary-btn2 header-btn text-uppercase">Let's Go!</button>
							</form>-->

							<a href="dataPro" class="primary-btn2 header-btn text-uppercase">Let's GO</a>
						</div>
						<div class="col-lg-6">
							<img class="img-fluid" src="static/img/header-img.png" alt="">
						</div>												
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

{% endblock %}